<!DOCTYPE html>
<html ng-app="rvchatapp" ng-controller="AppCtrl">
  <head>
    <title>ng-boilerplate</title>

    <!-- your compiles CSS -->
    <link rel="stylesheet" type="text/css" href="assets/<%= grunt.config.get('pkg.name') %>.css"/>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css>
    <![endif]-->

    <!-- libs.js contains all of the concatenated third-party libraries -->
    <script type="text/javascript" src="assets/libs.js"></script>

    <!-- this is your compiled, minified application code -->
    <script type="text/javascript" src="assets/<%= grunt.config.get('pkg.name') %>.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div class="container">
      <h3>Chatterbox<h3>
      <div class="container" ng-view></div>
      <script src="http://localhost:35729/livereload.js"></script>
    </div>
  </body>
</html>
